body{
    background-color: #181A1B;
    /*background-color: #21221f;*/
}

.filmContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    margin-left: 15%;
    margin-right: 15%;
    
}
.filmContainerPosterHover:hover{    
    cursor: pointer;
    transform: scale(1.05);
}

.filmContainerCol{
    width: 20%;
    margin: 20px;
    transition: transform 0.2s;
}

.filmContainerInfo{
    padding-left: 10px;
    width: 100%;
    height: auto;
    background-color: #151515;
    padding-bottom: 5px;
    
}

.filmPoster{
    width: 100%;
    /* ellers bliver nogle af posterne fucked */
    max-height: 370px;
}
.filmContainerInfo p{
    color: white;
    font-size: larger;
}
p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 400;
}